# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment files (sensibles)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage

# TanStack cache
.tanstack

# Docker
Dockerfile
docker-compose.yml
.dockerignore
